<div class="childCareList" *ngIf="dataList">
    <div style="height: 10px;"></div>
    
    <ng-container>
        <div  class="button-right grid">
            <button  type="button" class="btn btn-primary main-button small-button-width" (click) = "addCare()">
                <i class="bi bi-house-add "></i>
            </button>
            <button  type="button" class="btn btn-primary main-button small-button-width" (click) = "addParent()">
                <i class="bi bi-person-add "></i>
            </button>
            <button  type="button" class="btn btn-primary main-button small-button-width" (click) = "showBalance()">
                <i class="bi bi-clipboard-data " ></i>
            </button>
            <button  type="button" class="btn btn-primary main-button small-button-width" (click) = "showTimeDebt()">
                <i class="bi bi-calculator " ></i>
            </button>
        </div>
    </ng-container>

    <ng-container >
        <ngx-datatable class="childCareList-datatable bootstrap" #childCareListDataTable
            [ngClass]="totalRecords == 0 ? 'datatable-empty': ''"
            [headerHeight]="60" [footerHeight]="50" [reorderable]="false" [swapColumns]="false"
            columnMode="force" rowHeight="auto" [scrollbarH]="true" [scrollbarV]="true" [virtualization]="false"
            [rows]="filteredList"
            [count]="totalRecords"
            [messages]="{emptyMessage: 'no data'}"
            [loadingIndicator] = "loaderSrv.getIsLoading()" (sort)="onSort($event)">
            <!--to fix column witdh (if asked) => columnMode="force" define width, minWidth & maxWidth for the selected columns,
                if the column doesn't have that values will grow until fill all available space base on the configuration-->

            <ngx-datatable-column name="CaretakerName" [resizeable]="false" [flexGrow]="1" [width]="85" [minWidth]="200"  prop="caretakerName" >
                <ng-template ngx-datatable-header-template let-column="column" let-sort="sortFn" let-sortDir="sortDir">
                    <div class="datatable-header">
                        <div class="datatable-header-text"  (click)="sort()">
                            <sorting [title]="'Caretaker Name'" [sortDirection]="sortDir"></sorting>
                        </div>                     
                    </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="datatable-cell">
                        <span class="datatable-cell-content group-name">
                            {{ row['caretakerName']}}
                        </span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ParentName" [resizeable]="false" [flexGrow]="1"  [width]="85" [minWidth]="200" prop="parentName">
                <ng-template ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
                    <div class="datatable-header">
                        <div class="datatable-header-text" (click)="sort()" >
                           <sorting [title]="'Parent name'"  [sortDirection]="sortDir"></sorting>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="datatable-cell">
                        <span class="datatable-cell-content ">
                            {{ row['parentName']}}
                        </span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Comment" [resizeable]="false" [sortable]="false" [flexGrow]="1"  [width]="85" [minWidth]="200">
                <ng-template ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
                    <div class="datatable-header">
                        <div class="datatable-header-text" >
                            <sorting [title]="'Comment'"  [sortDirection]="sortDir"></sorting>
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="datatable-cell">
                        <span class="datatable-cell-content ">
                            {{ row['observations']}}
                        </span>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Observations" [resizeable]="false"  [flexGrow]="1"  [width]="85" [minWidth]="200" prop="startDate">
                <ng-template ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
                    <div class="datatable-header">
                        <div class="datatable-header-text" (click)="sort()">
                            <sorting [title]="'Observations'"  [sortDirection]="sortDir"></sorting>
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="datatable-cell">
                        <span class="datatable-cell-content ">
                            {{ row['startDate']}}
                            <br>
                            {{ row['duration'] * 1000 * 60| date:'HH:mm':'UTC'}} 
                        </span>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <!-- FOOTER -->
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                    <div class="search-box-container">
                        <input type="text" (keyup)="updateFilter($event)"  class="search-box" [placeholder]="'Search'"/>
                    </div>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </ng-container>
</div>


<ng-container>
    <app-loader></app-loader>
</ng-container>