@import 'variables.scss';

.custom-dropdown{
    width:285px;
    height:38px;
    display:block;
    font-size: $popover-text-font-size;
}

.custom-dropdown-button{
    width:100%;
    height:100%;
    align-items: start;
    border-color: $color-grey-border-button;
    color:  $label-color-1;
}

.placeHolder{
    float:left;
}

.placeHolder-fontstyle{
    font-style: italic;
    color:$datatable-header-total-results-color;
    font-size:$placeholder-font-size;
}

.item-fontstyle{
    color:black;
}

/*ng-bootstrap styles*/

.btn:hover{
    background-color: white;
}

.btn:focus{
    background-color: white;
    border:1px solid $color-grey-border-button;
}

.btn{
    box-shadow: none;
}
.btn:active{
    box-shadow: none;
}

.custom-dropdown-item{
    width:100%;
}

.dropdown-menu {
    width:285px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color:$color-grey-border-button;
}

.dropdown-toggle::after {
    float: right;
    font-size: xx-large;
    margin-top: 7px;
}